$color: #ffffff;
$background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: $color;
    background-image: $background;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    font-weight: normal;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    color: $color;
}

h1 {
    margin: 1em 0 1em 0;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: 2px;
    font-weight: 600;
    white-space: nowrap;
    span {
        font-weight: 100;
    }
}

h2 {
    text-align: left;
    font-size: 2vw;
    font-weight: bold;
    a {
        font-weight: normal;
        font-size: small;
    }
}

a:link {
    color: $color;
    text-decoration: none;
}

a:visited {
    color: $color;
    text-decoration: none;
}

a:hover {
    color: $color;
    text-decoration: underline;
}

a:active {
    color: $color;
    text-decoration: underline;
}

p {
    font-style: normal;
    font-weight: 300;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content {
    flex: 1 1 auto;
    margin: 0 10vw 0 10vw;
    padding: 2vh 5vw 2vh 5vw;
    border-radius: 2em;
    background: #08f;
    @media screen and (max-width: 800px) {
        margin: 0 5vw 0 5vw;
    }
}

.footer {
    flex: 0 1 auto;
    margin: 1em 0 1em 0;
    text-align: center;
}

.space {
    position: relative;
    text-align: center;
    width: 100%;
}

.more {
    font-weight: 300;
    font-size: 1vw;
}

#github {
    color: #ffffff;
    font-size: 4vw;
}

#github:hover {
    color: #d4d4d4;
}
